@import "config";
@import "menu";

$text-color: set-text-color($primary-color);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include background();
  color: $text-color;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

header {
  height: 10vh;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  @include dark-overlay();
}

// For all text with the secondary color class
.text-secondary {
  color: $secondary-color;
}

// Headings
h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-left: 5rem;
  letter-spacing: 1rem;

  // Large heading
  &.lg-heading {
    font-size: 6rem;
    /*     margin-top: 25vh;
    padding-bottom: 2rem; */
    //background: rgba(darken($primary-color, 2), 0.7);
  }

  // Small heading
  &.sm-heading {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 2.5rem;
    //border-top: none;
    //padding-top: 1rem;
    //color: lighten(#000, 40);
  }
}

main {
  margin-top: 0;

  .frontimage {
    height: 90vh;
    margin: 0;
    padding: 0;

    display: grid;
    place-items: center;

    @include dark-overlay();

    .title {
      @include dark-overlay;
      width: 100%;

      box-shadow: 0px -2px 20px rgba(darken($primary-color, 2), 0.7);
      //-webkit-animation-delay: 2s;
      //animation-delay: 2s;
      animation: fade-in 2s;

      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-10vh);

      h1 {
        animation: fade-in 4s;
        font-size: 7rem;

        margin: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  #description {
    background: url(/dist/img/background3.jpg);
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
    box-shadow: 0px -50px 20px 20px rgba($primary-color, 1);

    display: flex;
    align-items: center;

    p {
      font-size: 2rem;

      padding: 4rem;
      padding-right: 6rem;
      letter-spacing: 0.5rem;
      line-height: 3rem;

      text-shadow: 0.1rem 0.1rem 0.1rem darken(invert($text-color), 0.1);
    }
  }

  #soldiers {
    //animation: fade-in 4s;
    opacity: 0;
    height: 80vh;
    padding-right: 10rem;
  }

  .parallax {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    background: url(../img/background2.jpg) no-repeat center;
    //@include dark-overlay;
  }

  .parallax-window {
    min-height: 600px;
    z-index: 1;
  }

  .parallax-mirror {
    z-index: 1;
  }
  /*   .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include ease-out();
      }
    }
  } */

  // Any main that has the id home
  /*   &#home {
    overflow: auto;
    padding: 4rem;
    h1 {
      margin-top: 25vh; // How high the header should be
      margin-bottom: 75vh;
    }
  }

  // Any main that has the id text
  &#text {
    overflow: auto;

    div {
      background-color: $primary-color;

      p {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        line-height: 200%;
        font-size: 1.5rem;
      }
    }

    .parallax {
      @include background();
      height: 500px;
      background: url(../img/background2.jpg);
      background-attachment: fixed;
      background-size: cover;
    }
  } */
}
