@import "config";
@import "menu";
$text-color: set-text-color($primary-color);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include background();
  color: $text-color;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

header {
  height: 10vh;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  @include dark-overlay();
}

// For all text with the secondary color class
.text-secondary {
  color: $secondary-color;
}

// Headings
h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-left: 5rem;
  letter-spacing: 1rem;

  // Large heading
  &.lg-heading {
    font-size: 6rem;
    /*     margin-top: 25vh;
    padding-bottom: 2rem; */
    //background: rgba(darken($primary-color, 2), 0.7);
  }

  // Small heading
  &.sm-heading {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 2.5rem;
    //border-top: none;
    //padding-top: 1rem;
    //color: lighten(#000, 40);
  }
}

#dark-overlay {
  background: rgba($primary-color, 0.5);
  z-index: 1;
}
main {
  margin-top: 0;

  .frontimage {
    height: 90vh;
    margin: 0;
    padding: 0;

    display: grid;
    place-items: center;

    .logo {
      margin-top: 0;
      width: 25rem;
    }

    @include dark-overlay();

    .title {
      //@include dark-overlay;
      width: 100%;
      margin-bottom: 0;

      box-shadow: 0px -2px 20px rgba(darken($primary-color, 2), 0.7);
      //-webkit-animation-delay: 2s;
      //animation-delay: 2s;
      animation: fade-in 2s;

      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-10vh);

      backdrop-filter: blur(4px) grayscale(50%) contrast(50%) brightness(50%);
      -webkit-backdrop-filter: blur(4px) grayscale(50%) contrast(50%)
        brightness(50%);

      /* For firefox support */
      @supports not (
        (-webkit-backdrop-filter: none) or (backdrop-filter: none)
      ) {
        background-color: rgba($primary-color, 0.9);
      }

      h1 {
        animation: fade-in 4s;
        font-size: 7rem;

        margin: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  #text-block {
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;

    //box-shadow: 0px -50px 20px 20px rgba($primary-color, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

    border-color: #000;
    border-width: 2rem;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    /*     &:hover {
      filter: blur(50px);
    } */

    p {
      font-size: 2rem;
      padding: 2rem;
      height: fit-content;
      min-width: 50%;
      max-width: 60%;

      margin-right: auto;

      /*
      margin-top: 25%;
      margin-bottom: 25%; */

      z-index: 1;
      backdrop-filter: blur(4px) grayscale(80%) contrast(50%) brightness(50%);

      letter-spacing: 0.4rem;
      line-height: 3rem;

      text-shadow: 0.1rem 0.1rem 0.1rem darken(invert($text-color), 0.1);

      //box-shadow: -100px 0px 100px 100px rgba($primary-color, 1);
    }
  }

  .tb1 {
    background: url(/dist/img/background3.jpg);
  }

  .tb2 {
    background: url(/dist/img/background4.jpg);
    text-align: right;
    p {
      text-align: right;
      margin-left: auto;
      margin-right: 0;
    }
  }

  .parallax-window {
    min-height: 600px;
    z-index: 1;
  }
}

@import "reactive";
